<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="static/shop-window.svg" alt="" width="100" height="100">
        <small class="d-block mb-3 text-muted">&copy; 2023</small>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Home</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Find us</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Events</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stores</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Online retailers</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Contact & <br> Social</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><img class="mb-2" src="static/telephone.svg" alt="" width="24" height="24">(405) 620-4693</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><img class="mb-2" src="static/envelope.svg" alt="" width="24" height="24"></a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><img class="mb-2" src="static/facebook.svg" alt="" width="24" height="24"></a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><img class="mb-2" src="static/instagram.svg" alt="" width="24" height="24"></a></li>
        </ul>
        
      </div>
    </div>
  </footer>