<ul id="hexGrid">
    <li class="hex">
      <a class="hexIn" href="#">
        <img src="static/images/Almonds.jpeg" alt="" />
        <h1>Almonds</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </a>
    </li>
    <li class="hex">
      <a class="hexIn" href="#">
        <img src="static/images/oats.jpeg" alt="" />
        <h1>Oats</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </a>
    </li>
    <li class="hex">
      <a class="hexIn" href="#">
        <img src="static/images/pecans.webp" alt="" />
        <h1>Pecans</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </a>
    </li>
    <li class="hex">
      <a class="hexIn" href="#">
        <img src="static/images/Walnuts.webp" alt="" />
        <h1>Walnuts</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </a>
    </li>
    <li class="hex">
      <a class="hexIn" href="#">
        <img src="static/images/dried_cherries.jpeg" alt="" />
        <h1>Dried Sweet Cherries</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </a>
    </li>
    <li class="hex">
      <a class="hexIn" href="#">
        <img src="static/images/honeycomb.jpeg" alt="" />
        <h1>Honey</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </a>
    </li>
    <li class="hex">
      <a class="hexIn" href="#">
        <img src="static/images/Maple-Tree.jpeg" alt="" />
        <h1>Maple Syrup</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </a>
    </li>
    <li class="hex">
      <a class="hexIn" href="#">
        <img src="static/images/cinnamon.jpeg" alt="" />
        <h1>Cinnamon</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </a>
    </li>
    <li class="hex">
      <a class="hexIn" href="#">
        <img src="static/images/vanillabeans.jpeg" alt="" />
        <h1>Vanilla</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </a>
    </li>
    <li class="hex">
      <a class="hexIn" href="#">
        <img src="static/images/brown_sugar.jpeg" alt="" />
        <h1>Organic Brown Sugar</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </a>
    </li>
    <li class="hex">
      <a class="hexIn" href="#">
        <img src="static/images/Light_olive_oil.jpeg" alt="" />
        <h1>Light Olive Oil</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </a>
    </li>
    <li class="hex">
      <a class="hexIn" href="#">
        <img src="static/images/salt.jpeg" alt="" />
        <h1>Iodized Salt</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </a>
    </li>
  </ul>