{% extends "parent.html" %}

{% block content %}

    <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold text-warning">Canceled</h1>
          <p class="col-md-12 fs-4">Your order has been canceled. Do not worry. Keep shopping and checkout again.</p>
          <a class="btn btn-primary btn-lg" href="{{ url_for('shop') }}" type="button">Keep Shopping</a>
        </div>
      </div>
    </div>


{% endblock %}