{% extends "parent.html" %}

{% block title %}Shop{% endblock %}

{% block content %}

    <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid
         py-5">
         <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Order</th>
                  </tr>
                  {% for id in products %}
                  <tr>
                    <td>{{ products[id].name }}</td>
                    <td>
                      {{ "$%.2f"|format(products[id].price / 100) }} USD
                      {% if products[id].per %}per {{ products[id].per }}{% endif %}</td>
                    <td>
                      <form method="POST" action="/order/{{ id }}">
                        <input type="submit" value="Order Now!">
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
            </table>
          </div>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Change the background</h2>
            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
            <button class="btn btn-outline-light" type="button">Example button</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Add borders</h2>
            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
            <button class="btn btn-outline-secondary" type="button">Example button</button>
          </div>
        </div>
      </div>


{% endblock %}